<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keywords</key>
	<string></string>
	<key>txt</key>
	<string>Ideas Taxonomic distinctness &amp; functional diversity used in marine systems. At some point one equates the other. Where?? Taxonomic dendrogram Functional dendrogram If I use a dendrogram, the clustering method and decisions on weights will be pertinent Compare clustering  HOW? Taxonomic distinctness of nodes Also, cluster traits`? Examine trait correlation Could species richness vs FD plots tell us anything interesting? {Petchey:2007iw} ￼ {Petchey:2002ug} ￼ </string>
</dict>
</plist>
