<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>txt</key>
	<string>Contents Backgroung 1st pass of literature Skeleton METHODS Multidex Text Capitalized Words Numbers Internet Addresses Highlighting Keywords Stickers To Do Items Attachments Discarded Attachments Creation Dates Change Dates Due Dates Super-Find Results Write Up Methods Untitled Discussion Analysis Trait Info Ideas Implementation </string>
</dict>
</plist>
