<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keywords</key>
	<string></string>
	<key>txt</key>
	<string>Methods {Schleuter:2010dm} {Schleuter:2010dm} Most classical functional richness indices either failed to describe functional richness or were correlated with functional divergence indices. We therefore recommend using the new functional richness indices that consider intraspecific variability and thus empty space in the functional niche space. In contrast, most functional evenness and divergence indices performed well with respect to all proposed tests. For categorical variables, we do not recommend blending discrete and real-valued traits (except for indices based on distance measures) since functional evenness and divergence have no transposable meaning for discrete traits. Nonetheless, species diversity indices can be applied to categorical traits (using trait levels instead of species) in order to describe functional richness and equitability


Read More: http://www.esajournals.org.eresources.shef.ac.uk/doi/abs/10.1890/08-2225.1 taxa2dist Varstep = T ends up with less that 100 for completely taxonomically distinct and zeros for species of same family. Not appropriate USE Varstep = F Use check = F but then need to include species as well otherwise distance for same genus will be 0 Calculating Delta+ In distance matrix use all species included in particular run of analysis To calculate node Delta+ Δf+ create matrix for all species and code species in node with 1 This will allow calculation of SD for node size </string>
</dict>
</plist>
