<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keywords</key>
	<string>Attachment Image </string>
	<key>txt</key>
	<string>Untitled Results f1.jpg f2.png f3.png More traits lead to a taller tree f4.png f5.png f6.png   </string>
</dict>
</plist>
